<html>
<body>
{{^username}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name">
    <button type="submit">Login</button>
</form>
{{/username}}

{{#username}}
<form action="/add-message" method="post">
    <input type="text" name="message" placeholder="Enter your message">
    <button type="submit">Submit</button>
</form>
<form action="logout" method="post">
    <button type="submit">Logout</button>
</form>
Messages by {{username}}:
<ol>
    {{#messages}}
        {{text}} &nbsp &nbsp <b> <</b>
    <form action="/delete-message" method="post" style="display: inline-block;">
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete</button>
    </form>
    <b> ></b> &nbsp &nbsp
    <form action="/edit-message" method="post" style="display: inline-block;">
        <input type="hidden" name="id" value="{{id}}"/>
        <input type="text" name="message" placeholder="Update your message">
        <button type="submit">Submit</button>
    </form>
    <br>
    {{/messages}}
</ol>
{{/username}}
</body>
</html>