<html>
<body>
<html>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name">
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
<form action="/add-message" method="post">
    <input type="text" name="message" placeholder="Enter your message">
    <button type="submit">Submit</button>
</form>
<form action="logout" method="post">
    <button type="submit">Logout</button>
</form>
<br>
Messages by {{username}}:
{{/user}}
</body>
</html>